<%= simple_form_for @book do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.file_field :book_image, id: "item_item_img" %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :publisher %>
  <%= f.input :publish_date %>
  <%= f.input :book_price %>
  <%= f.input :page_count %>
  <%= f.input :isbn_10 %>
  <%= f.input :isbn_13 %>
  <%= f.input :description %>
  <%= f.button :submit, class: "btn-custom" %>
 <% end %>