<h1 class="current-category"><%= params[:category] %></h1>
<% if @books.count == 0 %>
		<div class="row">
			<% @books.each do |book| %>
			<div class="col-md-3 book">
				<%= link_to image_tag(book.book_image, alt: 'book.title', class: "books"), book %>
			</div>
	  	<% end %>
	</div>
<% else %>
  <!---<div class="row">--->
	  <% @books.each do |book| %>
	   <div class="row">
	    <div class="col-md-3">
	    	<%= link_to image_tag(book.book_image, alt: 'book.title', class: "books"), book %>
	    </div>
	  <% end %>
  </div>
<% end %>
