<div class="row">
  <div class="col-md-4">
      <%= image_tag @book.book_image, class: "book-show"  %>
      <% if user_signed_in? %>
        <% if @book.user_id == current_user.id %>
          <%= link_to "Edit Book", edit_book_path(@book), class: "btn-custom" %>
          <%= link_to "Delete Book", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-custom" %>
        <% end %>
      <% end %>
      <%= link_to "Add Review", new_book_review_path(@book), class: "btn-custom links" %>
      <%= render @book.reviews %>
  </div>
  <div class="col-md-8 item-info">
    <h1 class="item-title"><%= @book.title %></h1>
    <h3 class="item-author">By <%= @book.author %></h3>
    <h4 class="item-author">Publisher(s): <%= @book.publisher %></h4>
    <h4 class="item-author">Publish Date: <%= @book.publish_date %></h4>
    <h4 class="item-author">Book Price: <%= @book.book_price %></h4>
    <h4 class="item-author">Page Count: <%= @book.page_count %></h4>
    <h4 class="item-author">ISBN 10: <%= @book.isbn_10 %></h4>
    <h4 class="item-author">ISBN-13: <%= @book.isbn_13 %></h4>
    <!--- <h4>Category: <%# @book.category.name %></h4> --->
    <h3 class="item-author">Book Summary:</h3>
    <p class="item-desc"><%= @book.description %></p>
  </div>
</div>


<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
