<div class="row">
	<div class="item-info">
	  <h1 class="item-title">Categories List</h1>
	  <% @categories.each do |category| %>
	    <h3><%= category.name %></h3><br/>
	    <%= link_to "Edit Category", edit_category_path(category), class: "btn-custom" %>
	    <%= link_to "Delete Category", category_path(category), method: :delete, data: { confirm: "Are you sure you want to delete this category?"}, class: "btn-custom" %>
	  <% end %>
	</div>
</div>