<div class="reviews">
	<div class="review-rating" data-score="<%= review.rating %>"></div>
	<p class="review-comment"><%= review.comment %></p>
	<% if user_signed_in? %>
	  <% if review.user_id == current_user.id %>
	    <%= link_to "Edit Review", edit_book_review_path(review.book, review), class: "btn-custom" %>
	    <%= link_to "Delete Review", book_review_path(review.book, review), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-custom" %>
	  <% end %>
	<% end %>
</div>