<div class="new-review-form">
	<h1>New Review</h1>
	<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
		<div id="rating-form">
			<label>Rating:</label>
		</div>
	  <%= f.input :comment %>
	  <%= f.button :submit, class: "btn-custom" %>
	<% end %>
</div>

<script>
	$('#rating-form').raty({
		path: '/assets',
		scoreName: 'review[rating]'
	});
</script>